/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url('../fonts/Lato-Semibold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Semibold.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Semibold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Semibold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoWebBold';
  src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
       url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
	font-family: 'LatoWebSemibold';
}

.return-home {
  margin-bottom: 20px;
  display: inline-block;
}

.return-home > span {
	background-color: #0f5ff3;
	padding: 10px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	color: #FFFFFF;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.return-home:hover {
	text-decoration: none;
}

.return-home:hover > span {
	background-color: #687690;
}

.mt-5 {
	margin-top: 50px;
}

.p-0 {
	padding: 0;
}

.btnDelete:hover span {
	color: red;
}

textarea {
	resize: none;
}

.id-circle {
	border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #FFFFFF;
  background-color: #a0a021;
  padding: 21px;
  position: absolute;
  top: -26px;
  right: 10px;
  border: solid 2px #FFFFFF;
}

.id-circle > span.number {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.id-circle > span.date {
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #333;
  font-size: .85rem;
  font-weight: bold;
  color: #FFFFFF;
}

.panel-title {
	color: #FFFFFF;
}

.btnDelete {
}

.panel-default > .panel-heading {
  padding: 18px 15px;
}

/*
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #0f5ff3;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loader {

}
.loader.show {
  display: block;
}
*/

.btnAddTicket {
  background-color: #0f5ff3;
  padding: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btnAddTicket:hover {
	background-color: #687690;
}

.tickets-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #dedede;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
}

.title-bold {
  font-family: 'LatoWebBold';
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	/*
	.ticket:nth-child(3n+0) {
	    padding-right: 0;
	}

	.ticket:nth-child(3n+1) {
	    padding-left: 0;
	}

	.ticket:nth-child(3n+2) {
	    padding-left: 7.5px;
	    padding-right: 7.5px;
	}
	*/
}


.box{
  position: relative;
  width: 100%;   /* desired width */
  background-color: #dedede;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.box:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}
.box > .content{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 10px;
}

.box:hover {
  background-color: #0f5ff3;
}
.a-box {
  text-transform: uppercase;
}
.a-box:hover {
  color: #FFFFFF;
}

.title-tableros {
  margin-top: 50px;
  margin-bottom: 25px;
}


