<div class="container-fluid">

	<h3 class="text-center title-tableros">TABLEROS</h3>

	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="row">
				<div class="col-sm-6 col-md-4" ng-repeat="item in tableros">
					<a ui-sref="tablero({ tableroId: item.id })" class="a-box">					
						<div class='box'> 
							<div class='content'>{{ item.name }}</div> 
						</div>
					</a>
					
					<!--
					<div class="list-group" ng-if="tableros.length">
						<a ui-sref="tablero({ tableroId: item.id })" class="list-group-item" ng-repeat="item in tableros">{{ item.name }}</a>
					</div>
					-->
				</div>
			</div>
		</div>
	</div>
	
</div>
